:root {
	/* Main */
	--bg: #121420;
	--links: #7ea8f8;
	--default-text: #e8e8e8;

	--shake-border: #ff0000;

	--inputs-bg: #1f2231;
	--inputs-hover-bg: #2c3044;
	--input-caret: azure;

	--startwith-bg: #191f36;
	--startwith-item-hover-bg: #242c4d;

	--rbutton-bg: transparent;
	--rbutton-hover-bg: #2c64ca;
	--rbutton-text: #e4dfdf48;

	--table-border: #114c9b;
	--table-header-text: #b4ccd6;
	--table-row-hover-bg: #1f2231;

	--districon-bg: #fff;

	/* Pagination */

	--pagebtn-bg: #6591e2;
	--pagebtn-text: white;
	--pagebtn-current-bg: #2c64ca;

	/* Footer */

	--footer-text: #9ca2b1;

	/* UI */
	--win-shadow: #00000069;
	--window: #23273f;

	--win-button-bg: transparent;
	--win-button-border: #235094;
	--win-button-text: #5792e9;
	--win-button-busy-border: #5f87c4;
	--win-button-busy-gradient-from: #23273f;
	--win-button-busy-gradient-to: #30354f;
	--win-button-hover-bg: #2b6fd420;
	--win-button-hover-border: #0d6efd;
	--win-button-close-bg: #d11b0e13;
	--win-button-close-border: #d12207;
}
