.editor-window {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 1fr 50px;
	background-color: var(--editor-window);
}

.editor-data {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
}

.editor-root:not(.expanded) .editor-data {
	visibility: hidden;
	overflow: hidden;
}

.editor-data > * {
	width: 100%;
	margin-bottom: 15px;
}

.editor-regions {
	display: inline-flex;
	overflow-x: auto;
	overflow-y: hidden;
	height: 146px;
}

.editor-regrid {
	display: grid;
	width: fit-content;
	white-space: nowrap;
	padding-right: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

.editor-region {
	margin-bottom: 5px;
	width: fit-content;
}

.editor-region input[type="text"] {
	width: 11ch;
}

.editor-main {
	padding-top: 5px;
	overflow-y: auto;
}

.editor-pstatus {
	display: grid;
	width: 100%;
	grid-gap: 5px;
	grid-template-columns: 1fr 26%;
}

.editor-data .game-comment {
	resize: none;
	height: 100%;
}

.editor-data .editor-subresult {
	font-size: 0.8em;
	user-select: none;
	margin-bottom: 0px;
	transition: opacity 400ms;
	opacity: 0;
}

.editor-data .editor-subresult.show {
	opacity: 1;
}

.editor-title span {
	font-size: 1.2em;
}

.editor-title input {
	display: none;
	border: none;
	font-size: 1.2em;
}

.editor-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.editor-root:not(.expanded) #editor-bsend {
	display: none;
}

#editor-bclose:hover {
	background-color: var(--editor-bclose-bg);
	border-color: var(--editor-bclose-border);
}

div.editor-button {
	min-width: 20%;
	margin-right: 5px;
	cursor: pointer;
	outline: 0;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	background-color: var(--editor-button-bg);
	border: 1px solid var(--editor-button-border);
	user-select: none;
	padding: 6px 12px;
	border-radius: 5px;
	transition: color .15s ease-in-out,
				background-color .15s ease-in-out,
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
	color: var(--editor-button-text);
}

div.editor-button.busy {
	pointer-events: none;
	border-color: var(--editor-button-busy-border);
	background: linear-gradient(to right,
									var(--editor-button-busy-gradient-from) 8%,
									var(--editor-button-busy-gradient-to) 38%,
									var(--editor-button-busy-gradient-from) 54%
								);
	animation: loading 3s forwards infinite ease;
	background-size: 440px 100%;
}

@keyframes loading {
	0% {
		background-position: 0 0
	}
	100% {
		background-position: 440px 0
	}
  }

div.editor-button:hover {
	color: #fff;
	background-color: var(--editor-button-hover-bg);
	border-color: var(--editor-button-hover-border);
	border-width: 2px;
}
