.editor-blur {
	filter: blur(6px);
	transition: all 250ms;
}

.editor-blur.editor-close {
	filter: blur(0) !important;
}

.editor-shadow {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: editor-fade-out 250ms forwards ease-out;
}

.editor-shadow.editor-close {
	animation: editor-fade-in 250ms forwards ease-in;
}

@keyframes editor-fade-out {
	0% {
		background-color: #00000000;
	}

	100% {
		background-color: #00000069;
	}
}

@keyframes editor-fade-in {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	80% {
		opacity: 0;
	}
}

.editor-root {
	width: 40%;
	height: 55%;
	border-radius: 5px;
	pointer-events: all;
	background-color: #23273f;
}

.editor-root.editor-close {
	transition: opacity 250ms ease-in;
	opacity: 0;
}

.editor-root object {
	width: 100%;
	height: 100%;
}

.editor-window {
	display: grid;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 1fr 50px;
}

.editor-title {
	font-size: x-large;
}

.editor-title span {
	color: #e8e8e8;
}

.editor-title input {
	display: none;
	border: none;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.editor-title input::placeholder {
	font-size: x-large;
}

.editor-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.editor-buttons input {
	width: 20%;
	height: 100%;
	margin-right: 5px;
	border-radius: 5px;
}
