@import url(/css/editor.css);

.editor-blur {
	filter: blur(6px);
	-webkit-transition: -webkit-filter 250ms;
	-moz-transition: -moz-filter 250ms;
	-moz-transition: filter 250ms;
	-ms-transition: -ms-filter 250ms;
	-o-transition: -o-filter 250ms;
	transition: filter 250ms, -webkit-filter 250ms;
}

.editor-blur.editor-close {
	filter: blur(0) !important;
}

.editor-shadow {
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--editor-shadow);
	transition: opacity 250ms;
	opacity: 1;
}

.editor-shadow.editor-close {
	opacity: 0;
}

.editor-root {
	width: 40%;
	height: 460px;
	border-radius: 5px;
	pointer-events: all;
	transition: height 250ms, width 250ms;
}

.editor-root:not(.expanded) {
	width: 20%;
	height: 100px;
}

.editor-root.editor-close {
	transition: opacity 250ms ease-in;
	opacity: 0;
}

