* {
	outline: none;
	font-size: 1em;
	box-sizing: border-box;
	color: var(--default-text);
}

input, select, textarea {
	background-color: var(--inputs-bg);
	border: none;
}

input:hover, select:hover {
	background-color: var(--inputs-hover-bg);
}

input[type="text"] {
	caret-color: var(--input-caret);
}

body {
	width: 100%;
	height: 100%;
	background-color: var(--bg);
	font-family: 'Fira Sans', sans-serif;
	padding: 0;
	margin: 0;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: var(--links);
}

h2.compat-title {
	text-align: center;
	margin-bottom: 20px;
}

.shake {
	border: 2px var(--shake-border) solid;
	animation: shake-that-ass 100ms;
	animation-iteration-count: 4;
}

@keyframes shake-that-ass {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

.compat-base {
	margin: auto;
	width: 70%;
}

.compat-rbuttons {
	display: flex;
	position: fixed;
	top: 40px;
	right: 20px;
}

.compat-rbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--rbutton-text);
	font-size: 2em;
	border-radius: 5px;
	margin-right: 10px;
	background-color: var(--rbutton-bg);
	transition: background-color 250ms;
	user-select: none;
	width: 32px;
	height: 32px;
}

.compat-rbutton:hover {
	cursor: pointer;
	background-color: var(--rbutton-hover-bg);
}

.compat-status {
	width: 100%;
}

.compat-status-line {
	display: flex;
	align-items: center;
	flex-grow: 1;
	width: 100%;
	margin-bottom: 15px;
}

.scrollable-text::-webkit-scrollbar {
	display: none;
}

.compat-status-line > .status-title {
	width: fit-content;
	white-space: nowrap;
	margin-right: 5px;
}

.scrollable-text {
	width: 100%;
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	white-space: nowrap;
}

.compat-status-line input {
	margin-top: 0;
	margin-bottom: 0;
}

.compat-search {
	width: 100%;
	height: 28px;
	margin-bottom: 20px;
}

.compat-search input {
	width: 100%;
	height: 100%;
	margin: 0;
	padding-left: 4px;
	border-radius: 5px;
}

.compat-starts {
	display: flex;
	width: 100%;
	height: 28px;
	margin-bottom: 20px;
	background-color: var(--startwith-bg);
	overflow: hidden;
	border-radius: 5px;
}

.compat-starts .item {
	user-select: none;
	-webkit-user-drag: none;
	overflow: hidden;
	width: 100%;
}

.compat-starts .item span {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.compat-starts .item:hover {
	background-color: var(--startwith-item-hover-bg);
}

.compat-table {
	width: 100%;
	display: block;
	height: fit-content;
	user-select: none;
	border: 2px var(--table-border) solid;
	border-radius: 5px;
}

.compat-trow {
	display: grid;
	border-bottom: 2px var(--table-border) solid;
	grid-template-columns: 7.5em 1fr 7em 5em;
}

.compat-trow:not(.extrainfo) {
	cursor: pointer;
}

.compat-trow.last-row:not(.expanded) {
	border-bottom: none;
}

.compat-tcell {
	overflow: hidden;
	border-left: 2px var(--table-border) solid;
	padding: 5px;
}

.compat-tcell.spanned {
	grid-column-start: 1;
	grid-column-end: 5;
	text-align: center;
}

.compat-distr {
	vertical-align: middle;
	background-color: var(--districon-bg);
	border-radius: 5px;
	width: 24px;
	height: 24px;
	padding: 4px;
}

span.game-title {
	display: inline-flex;
	vertical-align: middle;
	flex-direction: column;
	justify-content: center;
	padding-left: 5px;
}

.compat-tcell.first {
	border-left: none;
}

.compat-tbody .compat-trow:hover:not(.extrainfo) {
	background-color: var(--table-row-hover-bg);
}

.compat-thead {
	background-color: var(--table-border);
}

.compat-thead .compat-tcell {
	cursor: default;
	color: var(--table-header-text);
}

.compat-serial {
	display: inline-block;
	pointer-events: all;
}

.compat-serial img {
	cursor: pointer;
	vertical-align: middle;
	width: 23px;
	height: 23px;
}

.compat-serial a {
	vertical-align: middle;
}

.compat-trow.extrainfo {
	display: none;
	overflow: auto;
	max-height: 0;
}

.compat-trow .compat-edit-this {
	position: relative;
	top: 0;
	right: 1;
}

.compat-trow.extrainfo.open {
	display: block;
	animation: open-extrainfo 250ms ease-in forwards;
}

.compat-trow.extrainfo.close {
	display: block;
	animation: close-extrainfo 250ms ease-out forwards;
}

@keyframes open-extrainfo {
	0% {
		max-height: 0;
	}

	100% {
		max-height: 120px;
	}
}

@keyframes close-extrainfo {
	0% {
		max-height: 120px;
	}

	100% {
		max-height: 0;
	}
}

/* Pagination */

.compat-pages {
	padding-top: 16px;
	text-align: center;
	width: 100%;
	height: 32px;
}

.compat-pages:empty {
	display: none;
}

.compat-pages a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	font-size: 1.5em;
	border-radius: 5px;
	background-color: var(--pagebtn-bg);
	-webkit-user-drag: none;
	user-select: none;
	color: var(--pagebtn-text);
}

.compat-pages a.current {
	pointer-events: none;
	background-color: var(--pagebtn-current-bg);
}

.footer {
	width: 100%;
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	color: var(--footer-text);
}
