* {
	outline: none;
}

input, select, textarea {
	background-color: #1f2231;
	color: #e8e8e8;
	border: none;
}

input:hover, select:hover {
	background-color: #2c3044;
}

input[type="text"] {
	caret-color: azure;
}

input[type="text"]::placeholder {
	color: #e8e8e8;
}

body {
	width: 100%;
	height: 100%;
	background-color: #121420;
	padding: 0;
	margin: 0;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #085ccc;
}

h2.compat-title {
	color: #e8e8e8;
	text-align: center;
	margin-bottom: 20px;
}

.compat-base {
	font-family: 'Roboto', sans-serif;
	margin: auto;
	width: 70%;
}

.compat-add-game {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #e4dfdf48;
	font-size: xx-large;
	border-radius: 5px;
	transition: background-color 250ms;
	user-select: none;
	position: fixed !important;
	width: 32px;
	height: 32px;
	right: 20px;
	top: 20px;
}

.compat-add-game:hover {
	cursor: pointer;
	background-color: #2c64ca;
}

.compat-status {
	width: 100%;
}

.compat-status-line {
	display: flex;
	align-items: center;
	width: 100%;
	color: #e8e8e8;
	font-size: medium;
	margin-bottom: 15px;
}

.compat-status-line input {
	margin-top: 0;
	margin-bottom: 0;
}

.compat-search {
	width: 100%;
	height: 28px;
	margin-bottom: 20px;
}

.compat-search input {
	width: 100%;
	height: 100%;
	margin: 0;
	padding-left: 4px;
	border-radius: 5px;
}

.compat-search input[type="text"]::placeholder, .compat-search input {
	font-size: medium;
}

.compat-starts {
	display: flex;
	width: 100.5%; /* Da fuq? */
	height: 28px;
	margin-bottom: 20px;
	background-color: #191f36;
	overflow: hidden;
	border-radius: 5px;
}

.compat-starts .item {
	color: #e8e8e8;
	user-select: none;
	-webkit-user-drag: none;
	overflow: hidden;
	width: 100%;
}

.compat-starts .item span {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.compat-starts .item:hover {
	background-color: #242c4d;
}

.compat-table {
	width: 100%;
	display: block;
	height: fit-content;
	user-select: none;
	border: 2px #7ea8f8 solid;
	border-radius: 5px;
}

.compat-trow {
	display: grid;
	border-bottom: 2px #7ea8f8 solid;
	grid-template-columns: 16% 1fr 15% 15%;
}

.compat-trow:not(.extrainfo) {
	cursor: pointer;
}

.compat-trow.last-row:not(.expanded) {
	border-bottom: none;
}

.compat-tcell {
	color: #e8e8e8;
	overflow: hidden;
	border-left: 2px #7ea8f8 solid;
	padding: 5px;
}

.compat-tcell.spanned {
	grid-column-start: 1;
	grid-column-end: 5;
	text-align: center;
}

.compat-distr {
	vertical-align: middle;
	background-color: white;
	border-radius: 5px;
	width: 16px;
	height: 16px;
	padding: 4px;
}

span.game-title {
	display: inline-flex;
	vertical-align: middle;
	flex-direction: column;
	justify-content: center;
	padding-left: 5px;
}

.compat-tcell.first {
	border-left: none;
}

.compat-tbody .compat-trow:hover:not(.extrainfo) {
	background-color: #1f2231;
}

.compat-thead {
	background-color: #7ea8f8;
}

.compat-thead .compat-tcell {
	cursor: default;
	color: #2a2f31;
}

.compat-serial {
	display: inline-block;
	pointer-events: all;
}

.compat-serial img {
	cursor: pointer;
	vertical-align: middle;
	width: 23px;
	height: 23px;
}

.compat-serial a {
	vertical-align: middle;
}

.compat-trow.extrainfo {
	display: none;
	overflow: auto;
	max-height: 0;
}

.compat-trow .compat-edit-this {
	position: relative;
	top: 0;
	right: 1;
}

.compat-trow.extrainfo.open {
	display: block;
	animation: open-extrainfo 250ms ease-in forwards;
}

.compat-trow.extrainfo.close {
	display: block;
	animation: close-extrainfo 250ms ease-out forwards;
}

@keyframes open-extrainfo {
	0% {
		max-height: 0;
	}

	100% {
		max-height: 120px;
	}
}

@keyframes close-extrainfo {
	0% {
		max-height: 120px;
	}

	100% {
		max-height: 0;
	}
}

/* Pagination */

.compat-pages {
	padding-top: 16px;
	text-align: center;
	width: 100%;
	height: 32px;
}

.compat-pages a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	font-size: x-large;
	border-radius: 5px;
	background-color: #6591e2;
	-webkit-user-drag: none;
	user-select: none;
	color: white;
}

.compat-pages a.current {
	pointer-events: none;
	background-color: #2c64ca;
}
