.win-root.editor {
	display: grid;
	width: 40%;
	height: 460px;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 1fr 50px;
}

.win-root.editor:not(.expanded) {
	width: 20%;
	height: 100px;
}

.editor-data {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
}

.win-root:not(.expanded).editor .editor-data {
	visibility: hidden;
	overflow: hidden;
}

.editor-data > * {
	width: 100%;
	margin-bottom: 15px;
}

.editor-regions {
	display: inline-flex;
	overflow-x: auto;
	overflow-y: hidden;
	height: 146px;
}

.editor-regrid {
	display: grid;
	width: fit-content;
	white-space: nowrap;
	padding-right: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

.editor-region {
	margin-bottom: 5px;
	width: fit-content;
}

.editor-region > input[type="text"] {
	width: 11ch;
}

.editor-main {
	padding-top: 5px;
	overflow-y: auto;
}

.editor-pstatus {
	display: grid;
	width: 100%;
	grid-gap: 5px;
	grid-template-columns: 1fr 26%;
}

.editor-data > .game-comment {
	resize: none;
	height: 100%;
}

.editor-data > .editor-subresult {
	font-size: 0.8em;
	user-select: none;
	margin-bottom: 0px;
	transition: opacity 400ms;
	opacity: 0;
}

.editor-data > .editor-subresult.show {
	opacity: 1;
}

.editor-title span {
	font-size: 1.2em;
}

.editor-title input {
	display: none;
	border: none;
	font-size: 1.2em;
}

.win-root.editor:not(.expanded) .editor-submit {
	display: none;
}
